<!-- 引入React -->
<script src="https://cdn.bootcdn.net/ajax/libs/react/18.2.0/umd/react.development.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/react-dom/18.2.0/umd/react-dom.development.js"></script>

<!-- 引入其他库 -->
<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.9/dayjs.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/antd/5.9.0/antd.js"></script>

<!-- 引入你自己的脚本 -->
<script src="http://localhost:9999/client/dist/assets/index-b9Y_BN4Y.js"></script>
